@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }
  .conteiner{
      width: 100%;
      background-color: #0e0e0e;
  }

.conteudo-inicial{
    background-image: url(Arquivos/assets/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hyperlink-cabecalho{
    font-family: 'Montserrat', sans-serif;
    color:white;
   }
.btn-metamask{
       font-family: 'Montserrat', sans-serif;
       width:230px;
       height:50px;
       text-align: center;
       font-size:16px;
   }
   .conteudo-badge{
       display: flex;
       color: white;
       flex-wrap: nowrap;
       width: 1277px;
       height: 246px;
       justify-content: center;
       order: 2;
   }

   .texto-inicial{
    font-family: 'Monteserrat', sans-serif;
    font-size: 50px;
    word-wrap: break-word;
    height: 246px;
    width: 596px ;
    font-weight: 700;
   }
   .texto-esquerda{
    font-family: 'Monteserrat', sans-serif;
    font-size: 18px;
    float: left;
    height: 88px;
    width: 401px;
    font-weight: 400;
   }
   .conteudo-galeria{
       margin: 20px 20px 20px 20px;
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   .foto1-foto2{
       display: flex;
        margin:20px;
        flex-direction: column;
   }
   .foto3-foto4{
    display: flex;
    margin:20px;
    flex-direction: column;
   }
    .foto5-foto6{
    display: flex;
    margin:20px;
    flex-direction: column;
}
    .foto7-foto8{
    display: flex;
    margin:20px;
    flex-direction: column;
}

   .texto-e-avatargroupe{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       
   }
   .texto-texto-avatars{
    display: flex; 
    flex-direction: column; 
    margin: 20px 30px 20px 20px;

   }

   .texto-mkt{
    display: flex; 
    flex-direction: column;
    margin: 20px 30px 20px 30px ;
   }

   .section-numeros{
    display: flex;
   }

   .div-numeros{
       flex-direction: row;
       margin: 60px 40px 30px 40px

   }

   .h1-numeros{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #ffff;
   }

   .h2-numeros{
       font-family: 'Montserrat', sans-serif;
       font-weight: 200;
       font-size: 18;
       color: #5A5757;
   }

   .div-texto-numeros{
   }
.p-numeros{
    font-family: 'Montserrat', sans-serif ;
    font-size: 18px;
    font-weight: 300;
}

.div-imagem-numeros{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}